<div class="container-fluid p-2">
  <button class="btn btn-warning float-left" (click)="createRecipesModal.open()">New Recipes</button>
  <div class="d-flex flex-row flex-wrap bd-highlight gap-3">
    <div class="card shadow-sm m-3" style="max-width: 540px;" *ngFor="let item of recipes$ | async" (click)="showRecipes(item)">
      <div class="row g-0">
        <div class="col-md-4">
          <img [src]="item.imageUrl" style="height: 250px;width: 100%;" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<app-create-recipes-modal #createRecipesModal></app-create-recipes-modal>