<div class="container-fluid p-2">
    <button class="btn btn-primary float-left" (click)="openModal()">New Ingredient</button>
</div>

  <div class="row">
    <div class="col-sm-2" *ngFor="let item of ingredients$ | async">
      <div class="card" style="width: 18rem;" >
        <img src="{{item.imageUrl}}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">
              {{item.note}}
          </p>
          <button class="btn btn-primary" (click)="addToCart(item)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
<app-ingredient-modal #modal></app-ingredient-modal>