<ng-template #modal let-modal>
  <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
            <div class="input-group mb-3">
                <select class="form-select" [(ngModel)]="model" (ngModelChange)="onCategoryChange($event.target.value)">
                    <option value=''>Categories</option>
                    <option [value]='category.code' *ngFor="let category of list$ | async">
                        {{category.name}}
                    </option>
                </select>
                
            </div>
          </div>
      </div>
      <div class="row" *ngIf="model">
        <div class="col-sm-12">
            <div class="input-group">
                <p-multiSelect [options]="ingredients" [(ngModel)]="selectedIngredients" optionLabel="name" defaultLabel="Select an Ingredient"></p-multiSelect>
                <button class="btn btn-warning" (click)="addIngredients()">Add</button>
            </div>
        </div>
      </div>
  </div>
</ng-template>
