<div class="row" *ngIf="recipes$ | async as recipes">
    <div class="col">
        <div class="recipes-container">
            <img [src]="recipes.imageUrl" class="card-img-top">
                <span class="fs-1 name text-wrap">{{recipes.name}}</span>
            <div class="ingredients px-4">
                <h4 class="fw-bold">Ingredients 
                    <button class="btn btn-light" (click)="modal.open()"><i class="fas fa-plus"></i></button>
                </h4>
                <ul>
                    <div class="col-sm-6" *ngIf="ingredients$ | async as ingredients;">
                        <div >
                            <ul class="list-unstyled" >
                                <li class="my-1" *ngFor="let item of ingredients">
                                    <div class="input-group mb-3" *ngIf="item.editing; else ingredient">
                                    </div>
                                    <ng-template #ingredient>
                                        {{item.ingredient.name}}
                                        <a class="text-warning" href="javascript:;;" (click)="addToCart(item)"><i class="fas fa-shopping-cart"></i></a>
                                    </ng-template>
                                </li>
                              </ul>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="instructions px-4">
                <h4 class="fw-bold">Instructions 
                    <button class="btn btn-light" (click)="edit()"><i class="fas fa-pen"></i></button>
                </h4>
                <div style="white-space: pre-wrap;" *ngIf="isEditing; else instruction">
                    <p-editor [(ngModel)]="recipes.instructions" style="height: 320px"></p-editor>
                    <button class="btn btn-warning m-2" (click)="save(recipes)">Save</button>
                    <button class="btn btn-secondary m-2" (click)="cancel(recipes)">Cancel</button>
                </div>
                <ng-template #instruction>
                    <div class="text-wrap" [innerHTML]='recipes.instructions'>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<app-add-ingredient-modal #modal></app-add-ingredient-modal>