
<ng-template #modal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="create-recipes-modal">New Recipes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
    <div class="modal-body">
      <div class="container">
        <div class="d-grid gap-3">
          <input class="form-control" type="text" [(ngModel)]="model.name" placeholder="Recipes name"/>
          <input class="form-control" type="text" [(ngModel)]="model.imageUrl" placeholder="Image url" />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
      <button type="button" class="btn btn-warning" (click)="create()">Create</button>
    </div>
  </ng-template>