
<ng-template #modal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="create-recipes-modal">New Recipes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
    <div class="modal-body">
      <div class="container">
          <div class="row">
              <div class="col">
                  
              </div>
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>