
<ng-template #modal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="create-ingredient-modal">New Ingredient</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
    <div class="modal-body">
      <div class="container">
        <div class="d-grid gap-3">
          <img class="rounded mx-auto d-block" alt="" [src]="model.imageUrl" style="width: 200px; height: 200px;" *ngIf="model.imageUrl"><br>
          <input type="text" class="form-control" placeholder="Ingredient's name" aria-describedby="name" [(ngModel)]="model.name">
          <input type="text" class="form-control" placeholder="Where to buy ?" aria-describedby="location" [(ngModel)]="model.location">
          <textarea class="form-control" placeholder="Note/Description" aria-describedby="note" [(ngModel)]="model.note" ></textarea>
          <select class="form-select" aria-label="Default select example" [(ngModel)]="model.unit">
            <option value='' selected>Select a Unit</option>
            <option [value]="unit" *ngFor="let unit of units" >{{unit}}</option>
          </select>
          <input type="url" class="form-control" aria-describedby="imageUrl" [(ngModel)]="model.imageUrl" placeholder="Image Url" />
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancel</button>
        <button type="button" class="btn btn-warning" (click)="createUpdate()" *ngIf="model.id; else updateBtn">Update</button>
        <ng-template #updateBtn>
          <button type="button" class="btn btn-warning" (click)="createUpdate()">Create</button>
        </ng-template>
    </div>
  </ng-template>